<div id="<%= dom_id conversion %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Affiliate link:</strong>
    <%= conversion.affiliate_link_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Click:</strong>
    <%= conversion.click_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= conversion.amount %>
  </div>
</div>
